.sidebar {
  width: 334px;
  /* border: 3px solid green; */
  height: 90vh;
  background-color: rgba(221, 221, 221, 0.567);
  border-right: 2px solid #e5e5e576;
  position: sticky;
  top: 10vh;
  /* height: 100vh; */
}

.link {
  height: 45px;
  cursor: pointer;
  padding-top: 10px;
  padding-left: 15px;
  font-size: 1.15rem;
}

.selected {
  background-color: red;
  /* border-bottom: 1px solid black; */
}

.whiteText:hover {
  color: white;
}
.redText:hover {
  color: red;
}

.img {
  width: 200px;
  /* width: 100%; */
  margin-bottom: 5px;
}
.user {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #e5e5e5b1;
  background-color: rgb(255, 255, 255);
}

.user div {
  font-size: 1.5rem;
}
