.wrapper {
  padding: 30px 60px;
}

.imgDiv {
  width: 46%;
  /* border: 1px solid black; */
  height: 550px;
}
.imgDiv img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.header {
  display: flex;
  gap: 5%;
  /* border: 1px solid black; */
}

.headerText {
  width: 45%;
  /* border: 1px solid black; */
  padding-left: 50px;
  padding-right: 20px;
}
.headerTitle {
  /* width: 300px; */
  margin-top: 50px;
  margin-bottom: 30px;
}

.headerTitle h2 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  background-color: red;
  display: inline;
  line-height: 1.4;
  padding: 5px 15px;
  letter-spacing: 0.5px;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.detailsContainer span {
  margin-right: 30px;
}
.iconChef {
  font-size: 1.15rem;
}
.icon {
  margin-right: 5px;
}

.userIcon {
  font-size: 1.2rem;
  margin-right: 10px;
}
.date {
  font-size: 0.92rem;
}

.favIcon {
  color: white;
  fill: red;
  font-size: 1.5rem;
}

.description {
  font-size: 1.1rem;
  background-color: rgb(240, 240, 240);
  margin-top: 10px;
  padding: 10px;
  word-break: break-all;
}

.btnsContainer {
  /* border: 1px solid black; */
  margin: 50px 0;
}

.btn {
  padding: 5px 10px;
  margin-right: 40px;
}

.delIcon {
  /* font-size: 1.5rem; */
  font-size: 20px;
}

.body {
  display: flex;
  gap: 5.5%;
  margin-top: 60px;
  /* border: 1px solid black; */
}

.body h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.ingCont {
  padding-left: 50px;
  width: 30%;
  /* border: 1px solid black; */
}
.ing {
  /* border: 1px solid black; */
  margin-top: 20px;
}

.prepCont {
  padding-left: 70px;
  width: 60%;
  border-left: 1px solid gainsboro;
  /* border: 1px solid black; */
}

.prep {
  /* border: 1px solid black; */
  width: 700px;
}

.prepCont h2 {
  padding-left: 150px;
}
.ingCont h2 {
  padding-left: 50px;
}

.ingRow {
  padding: 10px 0;
  border-bottom: 1px solid gainsboro;
}

.prepRow {
  margin-top: 30px;
  font-size: 1.1rem;
}

.prepRow span {
  font-weight: bold;
  padding: 2px 10px 2px 30px;
  background-color: rgb(255, 230, 0);
  /* border-radius: 3px; */
}
.prepRow p {
  padding-left: 30px;
}
