/* .container {
  padding: 34px;
  border: 1px dotted black;
  display: flex;
  gap: 3%;
  flex-wrap: wrap;
} */

div.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(250px, 300px);
  gap: 30px;
  padding-left: 80px;
  padding-right: 50px;
}
div.containerFilterActive {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(250px, 300px);
  gap: 30px;
  padding: 0 70px;
}
