.message {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.span {
  color: rgba(99, 197, 132, 255);
  /* color: rgb(107, 201, 138); */

  /* color: rgb(190, 0, 0); */
}

.messageCont {
  margin-left: 150px;
}
