.header {
  display: flex;
  gap: 10%;
  margin-bottom: 65px;
  /* border: 1px solid black; */
}

.descCont {
  display: flex;
  flex-direction: column;
  gap: 42px;
  width: 45%;
  /* border: 1px solid black; */
}

.timeAndServings {
  width: 80px;
  padding: 3px 0px 3px 10px;
}

.imgCont {
  width: 45%;
  /* border: 1px solid black; */
  padding-left: 52px;
}

.imgCont input {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.char {
  display: flex;
  gap: 30px;
}
.char select {
  /* height: 30px; */
  padding: 5px;
}

.showImg {
  width: 300px;
  height: 300px;
  background-color: rgb(221, 221, 221);
  margin-bottom: 25px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.header span {
  display: block;
  margin-bottom: 2.5px;
}

.addNewRecipe input,
textarea {
  background-color: rgb(221, 221, 221);
  border: none;
}

.title {
  width: 300px;
  height: 50px;
  padding-left: 15px;
  border-radius: 10px;
  font-size: 1.2rem;
}

.header textarea {
  width: 450px;
  resize: none;
  padding: 5px 10px;
  height: 120px;
  border-radius: 5px;
}

.addNewRecipe h3 {
  font-weight: bold;
  margin-bottom: 20px;
}

/* BODY */
.body {
  display: flex;
  gap: 10%;
  margin-bottom: 90px;
}

.prepCont {
  /* border: 1px solid black; */
  width: 45%;
}
.ingCont {
  /* border: 1px solid black; */
  width: 45%;
}

.ingRow {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

.prepRow {
  display: flex;
  /* justify-content: center; */
  /* align-items: top; */
  gap: 15px;
  margin-bottom: 10px;
}

.prepRow span {
  display: block;
}

.body textarea {
  width: 400px;
  resize: none;
  padding: 5px 10px;
  height: 100px;
  border-radius: 5px;
}

.ingDesc {
  height: 40px;
  width: 300px;
  padding-left: 15px;
  border-radius: 10px;
}

.ingTag {
  height: 40px;
  width: 150px;
  padding-left: 15px;
  border-radius: 10px;
}

.closeIngBtn {
  /* width: 40px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  height: 33px;
  border-radius: 5px;
  font-size: 1.3rem;
  margin-top: 28px;
  margin-right: 10px;
}

.closePrepBtn {
  border-radius: 5px;
  font-size: 1.3rem;
  margin-top: 55px;
  width: 25px;
  height: 35px;
  text-align: center;
}

.AddBtn {
  padding: 0 4px;
  /* border-radius: 5px; */
}

.AddBtn:hover {
  background-color: rgb(232, 232, 232);
}

.divPublish {
  text-align: center;
  margin-bottom: 50px;
}

.divPublish button {
  padding: 9px 15px;
  font-size: 1.1rem;
}
