* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Quando", serif;
}

.App {
  background-image: url(./img/final.png);
  background-size: 400px;
  background-repeat: repeat;
  z-index: -1;
}
