nav {
  height: 10vh;
  min-height: 72px;
  width: 100%;
  background-color: rgb(155, 155, 155);
  /* background-color: rgb(229, 206, 0); */

  /* background-color: red; */

  padding: 12px 0;
  position: sticky;
  top: 0;
  z-index: 2;
}

.container h1 {
  cursor: pointer;
  /* color: red; */
}

.container {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logInReg {
  display: flex;
  align-items: center;
  gap: 25px;
}

span:hover {
  cursor: pointer;
}

.logo {
  padding-bottom: 11px;
  font-size: 3.5rem;
  /* color: red; */
}

.user {
  padding-bottom: 6px;
  font-size: 1.8rem;
  /* margin-right: 4px; */
}
